<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">logo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div1">
    <div class="div2">
      <div class="div3">
        <ion-title>Nova conta</ion-title>
      </div>
      <ion-input placeholder="Nome"></ion-input>
      <ion-input placeholder="sobrenome"></ion-input>
      <ion-input placeholder="Cpf"></ion-input>
      <ion-input placeholder="Data de nascimento"></ion-input>
      <ion-input placeholder="Telefone"></ion-input>
      <ion-input placeholder="Email"></ion-input>
      <ion-input placeholder="Senha" type="password"></ion-input>
      <ion-input placeholder="Repita a senha" type="password"></ion-input>
      <ion-button class="botaoCadastrar" color="success" shape="round">Cadastrar conta</ion-button>
    </div>
  </div>
</ion-content>