<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Departamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudoPrincipal">
  <ion-card>
    <img src="../../assets/imgDepartamento/Lorens.jpg" alt="">
    <ion-title>Hortifruti</ion-title>
  </ion-card>
  <ion-card>
    <img src="../../assets/imgDepartamento/carnes.jpg" alt="">
    <ion-title>Açougue</ion-title>
  </ion-card>
  <ion-card>
    <img src="../../assets/imgDepartamento/laticinios.jpg" alt="">
    <ion-title>Laticínios</ion-title>
  </ion-card>
  <ion-card>
    <img src="../../assets/imgDepartamento/congelados.jpg" alt="">
    <ion-title>Congelados</ion-title>
  </ion-card>
  <ion-card>
    <img src="../../assets/imgDepartamento/higiene.jpg" alt="">
    <ion-title>Higiene Pessoal</ion-title>
  </ion-card>
  <ion-card>
    <img src="../../assets/imgDepartamento/limpeza.jpg" alt="">
    <ion-title>Limpeza</ion-title>
  </ion-card>
</ion-content>