<ion-content *ngIf="data.tipoModal === 1">
    <ion-header class="header">
        <h5>Informações do produto</h5>
        <button (click)="fecharModal()">
            X
        </button>
    </ion-header>

    <div class="divPrincipal" *ngFor="let prod of produtos">

        <ion-item class="item-img">
            <ion-img class="img" src="{{prod.destaque}}"></ion-img>
        </ion-item>

        <div class="divInfoProd">

            <ion-item>
                <div><b>Nome:</b></div>
                <span>‎ ‎{{data.dados.nome}}</span>
            </ion-item>

            <ion-item>
                <span><b>Marca:</b></span>
                <span>‎ ‎{{prod.marca}}</span>
            </ion-item>

            <ion-item>
                <span><b>Quantidade:</b></span>
                <span>‎ ‎{{prod.qtd}}</span>
            </ion-item>

        </div>

    </div>

</ion-content>


<ion-content *ngIf="data.tipoModal === 2">
    <ion-header class="header">
        <h5>Selecione a quantidade</h5>
        <button (click)="fecharModal()">
            X
        </button>
    </ion-header>

    <div class="divPrincipal" *ngFor="let prod of produtos">

        <ion-item class="item-img">
            <ion-img class="img" src="{{prod.destaque}}"></ion-img>
        </ion-item>

        <div class="divInfoProd">

            <div style="text-align: center;">
                <button mat-raised-button color="warn" (click)="diminuirQtd()">-</button>
                <span style="text-align: center; color: black;">‎ ‎ ‎ ‎{{qtdProd}}‎ ‎ ‎ ‎</span>
                <button mat-raised-button color="primary" (click)="aumentarQtd()">+</button>
            </div>

            <div style="text-align: center; margin-top: 20px;">
                <button mat-raised-button (click)="addCart()">Adicionar <ion-icon name="cart-outline" ></ion-icon></button>
            </div>

        </div>

    </div>

</ion-content>

<div *ngIf="data.tipoModal === 3" class="modal2">

    <div class="header">
        <h5>Selecione a quantidade</h5>
        <button (click)="fecharModal()">
            X
        </button>
    </div>

    <div class="divPrincipal" *ngFor="let prod of produtos">

        <ion-item class="item-img">
            <ion-img class="img" src="{{prod.destaque}}"></ion-img>
        </ion-item>

    </div>



    <div style="text-align: center;">
        <button mat-raised-button color="warn" (click)="diminuirQtd()">-</button>
        <span style="text-align: center; color: black;">‎ ‎ ‎ ‎{{qtdProd}}‎ ‎ ‎ ‎</span>
        <button mat-raised-button color="primary" (click)="aumentarQtd()">+</button>
    </div>

    <div style="text-align: center;">
        <button mat-raised-button>Confirmar</button>
    </div>

</div>