<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">logo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div1">
    <div class="div2">
      <div class="div3">
        <ion-title>Login</ion-title>
      </div>
        <ion-input placeholder="Seu Email"></ion-input>
        <ion-input placeholder="Sua senha"></ion-input>
        <ion-button class="botaoLogin" shape="round">Entrar</ion-button>
        <ion-button class="botaoCadastrar" color="success" shape="round" [routerLink]="['/tabs/cadastro']">Cadastre-se</ion-button>
    </div>
  </div>
</ion-content>
